.page-header {
  background-color: #b8932b;
  color: #ffffff;
  margin-bottom: 64px;
}

.page-header__content {
  max-width: 1272px;
  margin-left: auto;
  margin-right: auto;
}

.deals-page-header {
  padding: 32px 76px;
}

.deals-page-header__main {
  margin-bottom: 24px;
}

.page-header__title {
  font-size: 72px;
  letter-spacing: -0.01em;
  font-style: normal;
  font-weight: 800;
}

.deals-page-header__title {
  width: 285px;
  height: 88px;
}

.page-header__details {
  display: flex;
  justify-content: space-between;
}

.page-header__info-block {
  font-style: normal;
  font-weight: 800;
}

.page-header__info-block:not(:last-child) {
  margin-right: 48px;
}

.page-header__info-title {
  font-size: 20px;
  margin-right: 8px;
}

.page-header__info-amount {
  font-size: 32px;
}

.page-header__right-side {
  display: flex;
  align-self: end;
  background-color: transparent;
  border: none;
  color: white;
  height: min-content;
  margin-right: 108px;
}

.page-header__filter-tab-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 11px;
}

.deals-table__wrapper {
  position: relative;
}

.deals-main {
  max-width: 1056px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 76px;
  padding-right: 76px;
}

.deals-main__header {
  position: relative;
  margin-bottom: 57px;
}

.deals-main__date-button {
  background-color: white;
  border: none;
}

.deals-main__date-button_active > svg > path {
  fill: #000000;
}

.deals-main__date-button_inactive > svg > path {
  fill: #cccccc;
}

.deals-main__date {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: -0.02em;
  margin-left: 60.13px;
  margin-right: 42.13px;
}

.deals-main__date-next {
  transform: scale(-1);
}

.deals-main__date-selector {
  text-align: center;
}

.deals-main__table-modes {
  position: absolute;
  top: 0;
  right: 0;
}

.deals-main__table-mode:not(:last-child) {
  margin-right: 23px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__head {
  text-align: left;
  color: #999999;
}

.table__cell-first {
  padding-left: 16px;
}

.table__head-cell {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 8px;
  border-bottom: 1px solid #000000;
  padding-right: 48px;
}

.table__col-fixed {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
}

.table__col-flexible {
  color: #b8932b;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.deals-table__col-date {
  width: 108px;
}

.deals-table__col-deal-type {
  width: 156px;
}

.deals-table__col-sum {
  width: 162px;
}

.table__body {
  vertical-align: top;
}

.table__body-cell {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #cccccc;
}

.table__cell-flexible-gap {
  padding-right: 48px;
}

.table__cell-last {
  padding-left: 24px;
  padding-right: 32px;
}

.deals-table__search {
  position: absolute;
  top: -7px;
  right: 0;
}

.deals-table__search {
  display: flex;
}

.deals-table__search-icon {
  display: flex;
  margin-right: 4px;
}

.deals-table__search-bar {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border: none;
  display: block;
  width: 107px;
}

.deals-table__show-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 202px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #000000;
}

.deals-table__show-more-content {
  margin: auto;
}

.deals-table__page-count {
  width: 38px;
  height: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
  margin-right: 10px;
}

.deals-table__show-more-text {
  width: 122px;
  height: 22px;
  font-family: "Zona Pro";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #000000;
}

.deals-main__table {
  margin-bottom: 56px;
}

.page-header__filter {
  position: relative;
  max-width: 1272px;
  margin: 11.5px auto 0;
  display: none;
}

.page-header__filter-border-wrapper {
  margin-bottom: 24.5px;
  overflow-x: hidden;
  position: relative;
  height: 27px;
}

.page-header__filter-border {
  max-width: 1272px;
  position: absolute;
  top: 0;
  right: 0;
}

.page-header__filter-options {
  display: flex;
  align-items: flex-end;
}

.page-header__filter-option {
  display: inline-flex;
  flex-direction: column;
  margin-right: 40px;
}

.page-header__filter-option-select {
  width: 232px;
  height: 40px;
  border: 2px solid #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
  padding: 9px 16px;
}

.page-header__filter-button {
  width: 130px;
  height: 40px;
  background-color: white;
  margin-top: auto;
  border: none;
  font-family: "Zona Pro";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.01em;
}

.page-header__filter-option-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}
